.form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 2.5rem;
  &__edit-container {
    margin-top: 4rem;
  }
  & label {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    line-height: 120%;
  }
  &__elem-container {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    & label {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      font-size: 1.5rem;
      line-height: 120%;
      margin-right: 2.5rem;
      & input {
        margin: 0 1rem 0 0;
      }
    }
    & span {
      margin-right: 1.5rem;
      font-size: 1.5rem;
      line-height: 120%;
      &:not(:first-child) {
        margin-left: 1.5rem;
      }
    }
  }
  &__radio-buttons {
    padding: 1.2rem;
    border: 1px solid var(--color-border);
    border-radius: 8px;
  }
  &__buttons {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  &__button_grey {
    margin-right: 2rem;
    background-color: var(--color-button-grey) !important;
    color: var(--color-button-grey-color) !important;
  }
}
.input {
  background: var(--color-input-bg);
  border-radius: 8px;
  font-size: 1.3rem;
  line-height: 120%;
  letter-spacing: 0.3px;
  color: #000;
  padding: 1.2rem;
  border: 1px solid var(--color-border);
  width: 100%;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

.input-error {
  box-shadow: 0px 3px 1px -2px red, 0px 2px 2px 0px red, 0px 1px 5px 0px red;
}
.error-message {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.w-15 {
  width: calc(15% - 30px / 3);
}
.w-20 {
  width: calc(20% - 30px / 3);
}
.w-25 {
  width: calc(25% - 30px / 3);
}
.w-30 {
  width: calc(30% - 30px / 3);
}
.w-33 {
  width: calc(33.33% - 30px / 3);
}
.w-40 {
  width: calc(40% - 30px / 3);
}
.w-55 {
  width: calc(55% - 30px / 3);
}
